@use "base/variables" as v;

@mixin button($textColor: black, $borderRadius: 1rem) {
  text-decoration: none;
  font-family: v.$font;
  color: $textColor;
  border-radius: $borderRadius;
}

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}
