@use "base/variables" as v;
@use "base/mixins" as m;
.section__features {
  .section__features--description {
    @include m.tablet {
      width: 50%;
      margin: auto;
    }
  }
}

.section__features--buttons {
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
    @include m.tablet {
      border-bottom: 0.5px solid gray;
    }
  }
  margin-top: 4rem;

  .section__features--border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover,
    button {
      cursor: pointer;
    }
  }
  .section__features--border::before {
    @include m.telefono {
      content: "";
      width: 100%;
      display: inline-block;
      background-color: v.$grayishBlue;
      padding: 0.01rem 0;
      top: 0rem;
      position: relative;
      margin-bottom: 2rem;
    }
    @include m.tablet {
      display: none;
    }
  }

  button {
    padding: 1rem 0;
    background-color: transparent;
    border: none;
    width: 60%;
    color: v.$grayishBlue;
    transition: border 0.2s;
    
  }

  .btnActive {
    color: v.$veryDarkBlue;
    border-bottom: 0.3rem solid v.$softRed;
  }
}

.section__features--Info {
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
  }
  .features__ilustrations {
    position: relative;
    display: grid;
    
    @include m.telefono{
      margin-bottom: 5rem;
    }
    @include m.tablet {
      margin-bottom: 0;
      grid-column: 1/3;
    }
    @include m.desktop {
      height: 50rem;
    }
    margin-top: 2rem;
    img {
      width: 80%;
      margin: auto;
      @include m.desktop{
        height: 50rem;
        width: 60rem;
      }
    }
      &::after{

        content: "";
        position: absolute;
        left: -10rem;
        bottom: -2rem;
        width: 35rem;
        height: 95%;
        background: hsl(231, 69%, 60%);
        z-index: -1;
        border-top-right-radius: 30% 50%;
        border-bottom-right-radius: 30% 50%;


        @include m.tablet{
          width: 45rem;
          height: 22rem;
        }
      @include m.desktop{
        left: -20rem;
        bottom: -7rem;
        height: 100%;
        width: 90%;
      }
    }
  }

  .features__textInfo {
    h2,
    p {
      @include m.tablet {
        text-align: left;
      }
    }
  }
}
